<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile Form</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
       body {
            background-color: #333333;
            color: #ffffff;
       }
       
        .form-group {
            margin-bottom: 20px;
        }
        label {
            font-weight: bold;
        }
        button {
            margin-top: 20px;
        }
        a{
            margin-top: 30px;
        }
    </style>
</head>
{% include 'base.html' %}
<body>
    <div class="container">
        <h1 class="mt-4">User Profile Form</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

           
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control col-md-6" id="name" name="name" required>
            </div>

            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" class="form-control col-md-2" id="age" name="age" >
            </div>
            <div class="form-group">
                <label for="place">Place:</label>
                <input type="text" class="form-control" id="place" name="place" >
            </div>

            <div class="form-group">
                <label for="job">Job:</label>
                <input type="text" class="form-control" id="job" name="job" >
            </div>

            <div class="form-group">
                <label for="education">Education:</label>
                <input type="text" class="form-control" id="education" name="education" >
            </div>

            <div class="form-group">
                <label for="photo">Photo:</label>
                <input type="file" class="form-control-file" id="photo" name="photo" accept="image/*" >
            </div>

            <div class="form-group">
                <label for="dob">Date of Birth:</label>
                <input type="date" class="form-control col-md-2" id="dob" name="dob" >
            </div>

            <div class="form-group">
                <label for="car_or_two_wheel_number">Car or Two Wheel Number:</label>
                <input type="text" class="form-control" id="car_or_two_wheel_number" name="car_or_two_wheel_number" >
            </div>

            <div class="form-group">
                <label for="number">Phone Number:</label>
                <input type="tel" class="form-control" id="number" name="number" >
            </div>

            <div class="form-group">
                <label for="instagram_id">Instagram ID:</label>
                <input type="text" class="form-control" id="instagram_id" name="instagram" >
            </div>

            <div class="form-group">
                <label for="facebook_id">Facebook ID:</label>
                <input type="text" class="form-control" id="facebook_id" name="facebook" >
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" >
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

  
    
</body>
</html>
